<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tips</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles2.css') }}"
    />
  </head>
  <body>
    <header>
      <img
        src="{{url_for('static', filename='images/logo.png')}}"
        alt="Logo"
        name="logo"
      />
      <h1>Speech Emotion Distinguisher</h1>
    </header>

    <nav class="directory">
      <a href="/">Home</a> | <a href="/tips">Emotion Tips</a> |
      <a href="/about">About</a>
    </nav>

    <div class="container">
      <section class="tips">
        <nav class="emotions">
          <a href="#angry">Angry</a> | <a href="#calm">Calm</a> |
          <a href="#disgust">Disgusted</a> | <a href="#neutral">Neutral</a> |
          <a href="#sad">Sad</a> | <a href="#surprise">Surprised</a> |
          <a href="#happy">Happy</a> | <a href="#fear">Fearful</a>
        </nav>

        <p>
          The emotions listed above are the only ones our model is trained to
          identify, other common emotions in speech, will be misclassified.
        </p>

        <h2 id="angry">Angry</h2>
        <p>
          Use a lower, more guttural tone of voice. When you're angry, your
          voice naturally becomes lower and more guttural. This is because the
          muscles in your throat and larynx tighten, which lowers the pitch of
          your voice.
        </p>
        <p>
          Speak more slowly and deliberately. When you're angry, you may be
          tempted to speak quickly and forcefully. However, this can actually
          make you sound more aggressive and less in control. Instead, try to
          speak slowly and deliberately, which will help you to project a sense
          of anger and authority.
        </p>
        <p>
          Use harsh consonants. Harsh consonants, such as "k" and "t," can add
          an extra edge to your voice when you're angry. Try to emphasize these
          consonants when you're speaking, and you'll sound even angrier.
        </p>
        <p>
          Use facial expressions and body language. Your facial expressions and
          body language can also help you to sound angry. Scowl, clench your
          fists, and point your finger for added effect.
        </p>
        <iframe
          width="489"
          height="362"
          src="https://www.youtube.com/watch?v=RrApmTrWTFI"
        >
        </iframe>

        <hr />

        <h2 id="calm">Calm</h2>
        <p>
          Breathe deeply. This is the most important thing you can do to sound
          calm and relaxed. Take slow, deep breaths from your diaphragm, filling
          your lungs completely. This will help to oxygenate your blood and slow
          your heart rate.
        </p>
        <p>
          Relax your body. As you breathe deeply, focus on relaxing your body.
          Start with your shoulders, then your neck, and then your face. Let all
          of the tension flow out of your body.
        </p>
        <p>
          Speak slowly and deliberately. When you're feeling calm, your voice
          will naturally slow down and become more deliberate. This will help
          you to project a sense of calm and authority.
        </p>
        <p>
          Use a soothing tone of voice. Avoid using a high-pitched or squeaky
          voice, as this can sound nervous or anxious. Instead, use a low,
          soothing tone that will help to put your listener at ease.
        </p>

        <iframe
          width="489"
          height="362"
          src="https://www.youtube.com/watch?v=AHSrwJvsBfI"
        >
        </iframe>

        <hr />

        <h2 id="disgust">Disgusted</h2>
        <p>
          Use your facial expressions. Your facial expressions can help to
          convey the emotion of disgust even if your voice doesn't quite match.
          Make sure to scrunch up your nose, wrinkle your forehead, and widen
          your eyes. Use your body language.
        </p>
        <p>
          Change your tone of voice. When you're disgusted, your voice will
          naturally become lower, more guttural, and more nasal. You may also
          want to add some harsh consonants, such as "k" and "t."
        </p>
        <p>
          Use vocal fry. Vocal fry is a speech pattern that is characterized by
          a low, raspy voice. It can be a very effective way to convey disgust.
        </p>
        <p>
          Use pauses. Pausing can be a very effective way to emphasize the
          disgust in your voice. It can also give you a chance to collect your
          thoughts and to build up the tension.
        </p>

        <hr />

        <h2 id="neutral">Neutral</h2>
        <p>
          Use a mid-range tone of voice. Avoid using a high-pitched or
          low-pitched voice, as this can sound either excited or bored. Instead,
          try to speak in a mid-range tone that is neither too excited nor too
          bored.
        </p>
        <p>
          Speak at a moderate pace. Don't speak too quickly or too slowly, as
          this can make you sound either nervous or uninterested. Instead, try
          to speak at a moderate pace that is easy to understand.
        </p>
        <p>
          Use clear enunciation. Make sure that you pronounce your words clearly
          and distinctly. This will help you to sound more neutral and less
          regional.
        </p>
        <p>
          Avoid using slang or regionalisms. Slang and regionalisms can make you
          sound less neutral. Instead, try to use standard English that is
          understood by people from all over the world.
        </p>
        <p>
          Use a neutral facial expression. Avoid smiling or frowning, as this
          can make you sound either happy or sad. Instead, try to keep your
          facial expression neutral.
        </p>

        <hr />

        <h2 id="sad">Sad</h2>
        <p>
          Use a lower, more gentle tone of voice. When you're sad, your voice
          naturally becomes lower and more gentle. This is because the muscles
          in your throat and larynx relax, which lowers the pitch of your voice.
        </p>
        <p>
          Speak more slowly and softly. When you're sad, you may be tempted to
          speak quickly and forcefully. However, this can actually make you
          sound more angry or frustrated. Instead, try to speak slowly and
          softly, which will help you to project a sense of sadness and
          vulnerability.
        </p>
        <p>
          Use breathy sounds. When you're sad, you may breathe more shallowly
          and your voice may become more breathy. This is because your body is
          trying to conserve energy. Try to incorporate some breathy sounds into
          your speech, such as "um" and "ah."
        </p>
        <p>
          Use facial expressions and body language. Your facial expressions and
          body language can also help you to sound sad. Frown, lower your gaze,
          and slump your shoulders for added effect.
        </p>

        <iframe
          width="489"
          height="362"
          src="https://www.youtube.com/watch?v=k_I7NXBrNVc"
        >
        </iframe>

        <hr />

        <h2 id="surprise">Surprised</h2>
        <p>
          Use a higher, more pitched tone of voice. When you're surprised, your
          voice naturally becomes higher and more pitched. This is because the
          muscles in your throat and larynx tense, which raises the pitch of
          your voice.
        </p>
        <p>
          Speak more quickly and suddenly. When you're surprised, you may be
          tempted to speak slowly and deliberately. However, this can actually
          make you sound more confused or hesitant. Instead, try to speak more
          quickly and suddenly, which will help you to project a sense of
          surprise and excitement.
        </p>
        <p>
          Use exclamations. Exclamations, such as "Oh!", "Wow!", and "What?!"
          can be a very effective way to express surprise. They can also help to
          emphasize your surprise and to get your listener's attention.
        </p>
        <p>
          Use facial expressions and body language. Your facial expressions and
          body language can also help you to sound surprised. Open your eyes
          wide, raise your eyebrows, and gasp for added effect.
        </p>

        <hr />

        <h2 id="happy">Happy</h2>
        <p>
          Use a higher, more pitched tone of voice. When you're happy, your
          voice naturally becomes higher and more pitched. This is because the
          muscles in your throat and larynx tense, which raises the pitch of
          your voice.
        </p>
        <p>
          Speak more quickly and animatedly. When you're happy, you may be
          tempted to speak slowly and deliberately. However, this can actually
          make you sound more bored or uninterested. Instead, try to speak more
          quickly and animatedly, which will help you to project a sense of
          happiness and excitement.
        </p>
        <p>
          Use exclamations. Exclamations, such as "Yay!", "Woo!", and "Hurray!"
          can be a very effective way to express happiness. They can also help
          to emphasize your happiness and to get your listener's attention.
        </p>
        <p>
          Use facial expressions and body language. Your facial expressions and
          body language can also help you to sound happy. Smile, raise your
          eyebrows, and nod your head for added effect.
        </p>

        <hr />

        <h2 id="fear">Fearful</h2>
        <p>
          Use a lower, more breathy tone of voice. When you're fearful, your
          voice naturally becomes lower and more breathy. This is because the
          muscles in your throat and larynx relax, which lowers the pitch of
          your voice and makes it sound more breathy.
        </p>
        <p>
          Speak more slowly and hesitantly. When you're fearful, you may be
          tempted to speak quickly and forcefully. However, this can actually
          make you sound more angry or aggressive. Instead, try to speak more
          slowly and hesitantly, which will help you to project a sense of fear
          and uncertainty.
        </p>
        <p>
          Use facial expressions and body language. Your facial expressions and
          body language can also help you to sound fearful. Frown, widen your
          eyes, and shrink back for added effect.
        </p>

        <iframe
          width="489"
          height="362"
          src="https://www.youtube.com/watch?v=UzlGQ8dkZL8"
        >
        </iframe>
      </section>
      <footer>
        The function and information contained on this website is for
        educational purposes only. It may not be used for any commercial use.
        <ul>
          Authors:
          <li>Thomas Powell</li>
          <li>Ryan Casey</li>
          <li>Bill Pan</li>
        </ul>
      </footer>
    </div>
  </body>
</html>
