@import url("https://fonts.googleapis.com/css?family=DM+Sans");

image[name="logo"] {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
}

header {
  background-color: #fefeff;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: lightgray;
  color: #333;
  position: relative;
  display: flex;
  flex-direction: column;
}

h1 {
  float: right;
  padding-right: 37%;
  font-family: "DM Sans", sans-serif;
  font-size: 40px;
  margin-top: 10px;
}

.directory {
    background-color: #1f3465;
    padding-bottom: 1px;
    padding-top: 1px;
}

.directory a {
    
    color: black;
    font-family: "DM Sans", sans-serif;
    font-size: larger;
    float: none;
    position: relative;
    left: 34%;
    border-style: solid;
    border-width: 1px;
    padding-top: 2px;
    padding-bottom: 3px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #fefeff;
}

.tips {
    background-color: white;
    margin-left: 14%;
    margin-right: 14%;
}

.emotions {       
    color: rgb(30, 26, 26);
    font-size: large;
    float: none;
    position: relative;
    /* left: 13%; */
    padding-top: 3px;
}

.emotions a {
    color: blue;
    padding-top: 2px;
    padding-bottom: 3px;
    padding-left: 50px;
    padding-right: 50px;
    text-decoration: none;
}

.tips {
    margin-bottom: 110px;
}

.tips h2{
    text-align: center;
}

.tips p{
    padding-left: 4%;
    padding-right: 4%;
    font-size: large;
}

.tips iframe{
    margin-left: 32%;
    
}

hr {
    margin: 0 auto;
    width: 92%;
}

footer {
    position: absolute;
    bottom:0;
    font-size: x-small;
    background-color: #1f3465;
    color: grey;
    text-align: center;
    padding-left: 650px;
    padding-right: 667px;
    margin-left: auto;
    padding-top: 10px;
}

ul {
    list-style-type: none;
}

/* .vl {
    border-left: 6px solid green;
    height: 500px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 0;
} */
